<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Teste</title>
    <link rel="stylesheet" href=".../cadastro.html">
</head>
<body>
  
        <div class="main-login">
            <div class="left-login">
                <h1>Bem vindo ao quiz! <br>Crie Sua Conta: </h1>
                <!-- <img src="robo.svg" class="left-login-image"> IMAGEM: -->

            </div>
            <div class="right-login">
                <div class="card-login">
                    <h1>Criar Conta </h1>
                    <div class="textfield">
                        <label for="Usuario">Criar Usuario </label>
                        <input type="text" name="usuário" placeholder="Usuario">
                    </div>
                    <div class="textfield">
                        <label for="Senha">Criar Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                        <br>

                        <label for="Senha">Confirmar Senha</label>
                        <input type="password" name="Confirmar Senha" placeholder="Confirmar Senha">
                    </div>
                 <button class="btn-login">Login</button>
                </div>
            </div>
        </div>
 
    
</body>
</html>
