<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="../CSS/cadastro/layout.css">
</head>
<body>
  <div class="container">
    <div class="title">
      <div class="title1"></div>
      
    </div>
    <h1 class="q">Q</h1>
    <h1 class="u">U</h1>
    <h1 class="i">I</h1>
    <h1 class="z">Z</h1>

    <div class="question-box">
      <h2>Bem-vindo ao Quiz</h2>
      <p>Escolha uma opção para começar:</p>
      <button ><a href="cadastroPergunda/cadastroPerguntas.html">Cadastrar Perguntas</a></button>
      <button><a href="cadastroPergunda/cadastroRespostas.html">Cadastrar Respostas</a></button>
      <button><a href="selecaoCurso.html">Cadastrar Curso</a></button>
      <button><a href="selecaoMateria.html">Cadastrar Materia</a></button>
      <button><a href="telas/index.html">Iniciar Quiz</a></button>
    </div>

  </div>
  <script src="js/script.js"></script>
</body>
</html>
