<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Matérias</title>
    <link rel="stylesheet" href="../CSS/selecaoMateria.css">
</head>
<body>
    <div class="container">
        <div class="question-box">
            <h2>Selecione as matérias de interesse:</h2>
        </div>
 
        <div class="content-answer">
            <label class="box-answer">
                <input type="checkbox" id="programacao-web" class="checkbox"> Programação Web
            </label>
            <label class="box-answer">
                <input type="checkbox" id="fundamentos-informatica" class="checkbox"> Fundamentos da Informática
            </label>
            <label class="box-answer">
                <input type="checkbox" id="banco-dados" class="checkbox"> Banco de Dados
            </label>
            <label class="box-answer">
                <input type="checkbox" id="desenvolvimento-sistemas" class="checkbox"> Desenvolvimento de Sistemas
            </label>
            <label class="box-answer">
                <input type="checkbox" id="sistemas-embarcarados" class="checkbox"> Sistemas Embarcados
            </label>
            <label class="box-answer">
                <input type="checkbox" id="programacao-mobile" class="checkbox"> Programação de Aplicativos Mobile
            </label>
            <label class="box-answer">
                <input type="checkbox" id="analise-projeto" class="checkbox"> Análise e Projeto de Sistemas
            </label>
        </div>
 
        <!-- <div class="user">
            <img src="user-avatar.png" alt="Avatar">
            <p>Usuário</p>
        </div> -->
    </div>
</body>
</html>

