
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Matérias</title>
    <link rel="stylesheet" href="../CSS/selecaoCurso.css">
</head>
<body>
    <div class="container">
        <div class="question-box">
            <h2>Selecione o seu curso:</h2>
        </div>
 
        <div class="content-answer">
            <label class="box-answer">
                <input type="checkbox" id="programacao-web" class="checkbox"> Administração
            </label>
            <label class="box-answer">
                <input type="checkbox" id="fundamentos-informatica" class="checkbox"> Comércio Exterior
            </label>
            <label class="box-answer">
                <input type="checkbox" id="banco-dados" class="checkbox"> Desenvolvimento de Sistemas
            </label>
            <label class="box-answer">
                <input type="checkbox" id="desenvolvimento-sistemas" class="checkbox"> Eletrônica
            </label>
            <label class="box-answer">
                <input type="checkbox" id="sistemas-embarcarados" class="checkbox"> Serviços Jurídicos
            </label>
            <label class="box-answer">
                <input type="checkbox" id="sistemas-embarcarados" class="checkbox"> Design de Interiores
            </label>
        </div>
    </div>
</body>
</html>